P{
    font-family: roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(216, 222, 227);
}
body{
    margin: 0;
    padding-top: 50px;
    padding-left:0px ;
    padding-right: 0px;
    background-color: rgb(156, 79, 142);
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:600px){
    body{
        padding-top:175px;
    }
   
}